/*=================== ABOUT US STYLES =========================
==============================================================*/

/*============= CUSTOMIZE THE HOMEPAGE CAROUSEL ============ */

.banner {
	background-size: 100%;
	max-height: 317px;
	height: 50vh;
	width: 100%;
	background: url("../img/bckg/banner_redrollboard.jpg");
	h2 {
		
	}

}
