/*=================== ABOUT US STYLES =========================
==============================================================*/

/*============== BANNER ======================
============================================*/

.banner {
	background-size: cover;
	max-height: 317px;
	height: 24vw;
	width: 100%;
	background: url("../img/bckg/banner_redrollboard.jpg") no-repeat;
	margin-top: -120px;
	h2 {
		font-family: "ITC_Avant_Bold";
		color: white;
		font-size: 	2.5em;	
		margin-top: 18%;
	}
}

/* /======= END BANNER */

/*============== CONTENT ======================
============================================*/
.aboutus_content {
	padding-top: 100px;
	position: relative;
	.container {
		p {
			font-family: "Proxima_Nova_Regular";
			font-size: 1.5em;
			color: #5d5d5d;
			line-height: 30px;
			margin-top: 25px;
			padding-right: 250px;
		}
		p:first-child {
			font-family: "Proxima_Nova_Bold";
			font-size: 2.2em;
			color: #389fbd;
			line-height: 34px;
			margin-top: 0px;
		}
		p:nth-child(3) {
			margin-bottom: 250px;
		}		
	}
	img.aboutus_content_redrollboard {
			position: absolute;	
			bottom: 0;
			right: 0;
			max-height: 100%;	
			height: 537px;
			overflow: hidden;
			box-sizing: border-box;
	}
}

/* /======= END CONTENT */

/*============== FOOTER ======================
============================================*/

footer {
	.container-fluid {
		background-color: #252525;
		.row {
			.col-md-3:first-child {
				padding-left: 75px;
				p {
					font-family: "Open Sans Bold";
					color: #777777;
					font-size: 0.85em;
					padding-top: 45px;
					margin-bottom: 10px;
				}
				div {
					font-family: "Open Sans Regular";
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #343434;					
					a {
						display: block;
						text-decoration: none;						
						color: #a0a0a0;
						font-size: 0.92em;
					}
					span {
						font-size: 0.78em;
						color: #6b6b6b;
					}
				}
			}
			.col-md-3:nth-child(2) {
				p {
					font-family: "Open Sans Bold";
					color: #777777;
					font-size: 0.85em;
					padding-top: 45px;
					margin-bottom: 30px;
				}
				a {
					display: block;
					text-decoration: none;						
					color: #a0a0a0;
					font-size: 0.92em;
					margin-top: 17px;
					background-color: #232323;
					border: none;
					padding: 15px 0px 15px 20px;
					text-align: left;
				}

			}
			.col-md-3:nth-child(3) {
				p {
					font-family: "Open Sans Bold";
					color: #777777;
					font-size: 0.85em;
					padding-top: 45px;
					margin-bottom: 15px;
				}
				ul {
					padding-left: 0px;
					li {
						list-style: none;
						font-family: "Open Sans Regular";						
						padding: 8px 0px 8px 0px;
						border-bottom: 1px solid #343434;
						a {
							text-decoration: none;
							color: #a0a0a0;							
						}
					}
				}
			}
			.col-md-3:nth-child(4) {
				padding-right: 75px;
				h5 {
					font-family: "Gotham-Bold";
					font-size: 1.7em;
					color: white;
					padding-top: 45px;
				}
				p {
					font-family: "Open Sans Bold";
					color: #777777;
					font-size: 0.85em;
				}
			}
		}
		.footer_verifiedicons {
			background: url("../img/bckg/footer_verifiedicons.png");
			background-size: 100%;
			height: 66px;
            width: 448px;
            display: block;
            margin-left: 65px;
            margin-top: -25px;
            margin-bottom: 10px;
		}
	}
	.footer_downfooter {
		position: relative;		
		.container-fluid {				
			background-color: #1c1c1c;
			height: 45px;
			p {
				font-family: "Open Sans Regular";
				font-size: 1em;
				color: #a0a0a0;
				margin-left: 65px;
				padding-top: 13px;
				margin-bottom: 0px;	
				display: inline-block;
				float: left;	
			}	
			ul {
			display: inline-block;
			float: right;
			padding-right: 50px;
			margin-bottom: 0px;	
				li {
					padding-top: 13px;
					display: inline-block;
				}
			}

		}
		a {
			span {
			background: url("../img/icn/Up_Arrow.jpg");
			background-size: 100%;
			height: 28px;
            width: 29px;
            position: absolute;
            right: 0px;
        	bottom: 6px;
			}
		}
	}
}

/* /======= END FOOTER */