/*=================== FONTS =========================
==============================================================*/
@font-face {
  font-family: "ITC_Avant_Bold";
  src: url("../fonts/Avant Garde/AvantGardGothEF-Bold.otf");    
}

@font-face {
  font-family: "Proxima_Nova_Bold";
  src: url("../fonts/Proxima Nova/ProximaNova-Bold.otf");    
}

@font-face {
  font-family: "Proxima_Nova_Regular";
  src: url("../fonts/Proxima Nova/ProximaNova-Regular.otf");    
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham/Gotham Bold.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham/Gotham Book.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/Gotham/Gotham Medium.otf");
}

@font-face {
  font-family: "ITC_Avant-Bold";
  src: url("../fonts/ITCAvantGardeStd/ITCAvantGardeStd-Bold.otf");
}

/*=================== HOMEPAGE STYLES =========================
==============================================================*/

/*============== HEADER ======================*/
header {
  .header_upheader {
    background-color: #363636;
    text-align: right;
    height: 50px;
    p {
      color: #696969;
      font-family: "Gotham-Bold";
      font-size: 0.8571em;
      display: inline-block;
    }
    form {
      display: inline-block;
      width: 30%;
      input {
        width: 70%;
        display: inline-block;
        background: transparent;
        border: 2px solid #696969;
        border-radius: 0px;
        font-family: "Gotham-Book";
        font-size: 0.8571em;
        margin-right: 10px;      
      }
      input:focus {
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: #696969;
      }

      input:-moz-placeholder { /* Firefox 18- */
        color: #696969;
      }

      input::-moz-placeholder {  /* Firefox 19+ */
        color: #696969;
      }

      input:-ms-input-placeholder {  
        color: #696969; 
      }
      button {
        color: #389fbd;
        border: 2px solid #389fbd;
        background: transparent;
        border-radius: 20px;
        padding: 4px 15px;
      }
      button:hover {
        color: #fff;
        border: 2px solid #389fbd;
        background: #389fbd;
        border-radius: 20px;
        padding: 4px 15px;
      }
      button:focus {
        outline: none;
      }
    }
    form:focus {
      outline: none;
    }
  }
  nav.navbar {
    height: 120px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    z-index: 10;
    .container {
      .navbar-header {
        .navbar-brand {
          img {
            margin-top: 20px;
          }
        }
      }
      .collapse {
        ul.nav {
          margin-top: 34px;
          li {
            a {
              font-family: "Gotham-Bold";
              font-size: 0.9285em;
              color: #787878;
              .header_navbar_searchIcon {
                background: url("../img/icn/header_nav_searchIcon.png");
                background-size: 100%;
                height: 13px;
                width: 13px;
                display: inline-block;
                opacity: 0.6;
              }
              .header_navbar_calendarIcon {
                background: url("../img/icn/header_nav_calendarIcon.png");
                background-size: 100%;
                height: 32px;
                width: 28px;
                display: inline-block;
                opacity: 0.6;
              }
              .header_navbar_searchIcon:hover,
              .header_navbar_calendarIcon:hover {
                opacity: 1;
              }
            }
            a:hover {
              color: #ad45c7;
              background: transparent;
            }
          }
          li:last-child {
            a {
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}
/* /======= END HEADER */

/* VERTICAL SOCIAL NETWORKS */
.counterSocialNet {
  position: absolute;
  z-index: 10;
  top: 170px;
  right: 0;
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      width: 48px;
      height: 48px;
      text-align: center;
      p {
        margin-bottom: 0;
        color: #fff;
      }
      img {
        margin-top: 5px;
        height: 16px;
        width: 18px;
      }
    }
    li.counterSocialNet_facebook {
      background-color: #3b5998;
    }
    li.counterSocialNet_twitter {
      background-color: #1daced;
    }
    li.counterSocialNet_pinterest {
      background-color: #cb1f27;
    }
    li.counterSocialNet_google {
      background-color: #dd4b39;
    }
    li.counterSocialNet_xxx {
      background-color: #e84c2f;
    }
  }
}

/*========== BUTTONS STYLES ==========*/
.transparentButton {
  background-color: rgba(255,255,255,0.5);
  color: #ad45c7;
  font-size: 1em;
  font-family: "Gotham-Book";
  border: 2px solid #ad45c7;
  padding: 15px 30px;
  border-radius: 30px;
}
.transparentButton:hover,
.transparentButton:focus,
.transparentButton:active {
  background-color: #ad45c7;
  color: #fff;
  border: 2px solid #ad45c7;
  outline: none;
}

.pinkButton {
  color: #fff;
  font-size: 1em;
  font-family: "Gotham-Book";
  background-color: #ad45c7;
  border: 2px solid #ad45c7;
  padding: 15px 30px;
  border-radius: 30px;
}

.pinkButton:hover,
.pinkButton:focus,
.pinkButton:active {
  color: #ad45c7;
  background-color: rgba(255,255,255,0.5);
  border: 2px solid #ad45c7;
  outline: none;
}

/*============= CUSTOMIZE THE FIRST HOMEPAGE CAROUSEL ============ */
#home {
  .home_carousel {
    #firstCarousel {
      max-height: 672px;
      height: 93vh;
      margin-top: -120px;
      width: 100%;
      .carousel-indicators {
        li {
          height: 15px;
          width: 15px;
        }
      }
      .carousel-inner {
        /* Declare heights because of positioning of img element */
        .item {
          height: 672px;
          background-color: transparent;
          width: 100%;
          div {
            background-size: cover;
            max-height: 672px;
            height: 93vh;
            width: 100%;
            position: position;
          }
          .first-slide {
            background: url("../img/bckg/home_carousel_img1a.jpg") no-repeat;
          }
          .second-slide {
            background: url("../img/bckg/home_carousel_img2a.jpg") no-repeat;
          }
          .third-slide {
            background: url("../img/bckg/home_carousel_img3.jpg") no-repeat;
          }
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          z-index: 10;
          bottom: 19%;
          text-align: right;
          h1 {
            text-align: right;
            font-family: "ITC_Avant-Bold";
            margin: 0;
            font-size: 3.5714em;
            margin: -5px 0;
          }
          h1:nth-child(4) {
            margin-bottom: 15px;
          }
        }
      }
      .carousel-control {
        max-height: 672px;
        height: 93vh;
        width: 3%;
        .glyphicon-chevron-left,
        .glyphicon-chevron-right {
          top: 68%;
        }
      }
    }
  }
}
    




