/*=================== FONTS =========================
==============================================================*/
@font-face {
  font-family: "ITC_Avant_Bold";
  src: url("../fonts/Avant Garde/AvantGardGothEF-Bold.otf"); }
@font-face {
  font-family: "Proxima_Nova_Bold";
  src: url("../fonts/Proxima Nova/ProximaNova-Bold.otf"); }
@font-face {
  font-family: "Proxima_Nova_Regular";
  src: url("../fonts/Proxima Nova/ProximaNova-Regular.otf"); }
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham/Gotham Bold.otf"); }
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham/Gotham Book.otf"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open Sans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open Sans/OpenSans-Regular.ttf"); }
/*=================== HOMEPAGE STYLES =========================
==============================================================*/
/*============== HEADER ======================*/
header .header_upheader {
  background-color: #363636;
  text-align: right;
  height: 50px; }
  header .header_upheader p {
    color: #696969;
    font-family: "Gotham-Bold";
    font-size: 0.8571em;
    display: inline-block; }
  header .header_upheader form {
    display: inline-block;
    width: 30%; }
    header .header_upheader form input {
      width: 70%;
      display: inline-block;
      background: transparent;
      border: 2px solid #696969;
      border-radius: 0px;
      font-family: "Gotham-Book";
      font-size: 0.8571em;
      margin-right: 10px; }
    header .header_upheader form input:focus {
      outline: none; }
    header .header_upheader form input::-webkit-input-placeholder {
      color: #696969; }
    header .header_upheader form input:-moz-placeholder {
      /* Firefox 18- */
      color: #696969; }
    header .header_upheader form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #696969; }
    header .header_upheader form input:-ms-input-placeholder {
      color: #696969; }
    header .header_upheader form button {
      color: #389fbd;
      border: 2px solid #389fbd;
      background: transparent;
      border-radius: 20px;
      padding: 4px 15px; }
    header .header_upheader form button:hover {
      color: #fff;
      border: 2px solid #389fbd;
      background: #389fbd;
      border-radius: 20px;
      padding: 4px 15px; }
    header .header_upheader form button:focus {
      outline: none; }
  header .header_upheader form:focus {
    outline: none; }
header nav.navbar {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  z-index: 10; }
  header nav.navbar .container .navbar-header .navbar-brand img {
    margin-top: 20px; }
  header nav.navbar .container .collapse ul.nav {
    margin-top: 34px; }
    header nav.navbar .container .collapse ul.nav li a {
      font-family: "Gotham-Bold";
      font-size: 0.9285em;
      color: #787878; }
      header nav.navbar .container .collapse ul.nav li a .header_navbar_searchIcon {
        background: url("../img/icn/header_nav_searchIcon.png");
        background-size: 100%;
        height: 13px;
        width: 13px;
        display: inline-block;
        opacity: 0.6; }
      header nav.navbar .container .collapse ul.nav li a .header_navbar_calendarIcon {
        background: url("../img/icn/header_nav_calendarIcon.png");
        background-size: 100%;
        height: 32px;
        width: 28px;
        display: inline-block;
        opacity: 0.6; }
      header nav.navbar .container .collapse ul.nav li a .header_navbar_searchIcon:hover,
      header nav.navbar .container .collapse ul.nav li a .header_navbar_calendarIcon:hover {
        opacity: 1; }
    header nav.navbar .container .collapse ul.nav li a:hover {
      color: #ad45c7;
      background: transparent; }
    header nav.navbar .container .collapse ul.nav li:last-child a {
      padding-top: 3px; }

/* /======= END HEADER */
/* VERTICAL SOCIAL NETWORKS */
.counterSocialNet {
  position: absolute;
  float: right;
  z-index: 10; }

/*============= CUSTOMIZE THE FIRST HOMEPAGE CAROUSEL ============ */
#home .home_carousel {
  margin-top: -120px; }

#firstCarousel {
  height: 672px;
  margin-bottom: 60px; }
  #firstCarousel .carousel-inner {
    /* Declare heights because of positioning of img element */ }
    #firstCarousel .carousel-inner .item {
      height: 672px;
      background-color: #FFF; }
      #firstCarousel .carousel-inner .item div {
        background-size: 100%;
        max-height: 672px;
        height: 80vh;
        width: 100%; }
      #firstCarousel .carousel-inner .item .first-slide {
        background: url("../img/bckg/home_carousel_img1.jpg"); }
      #firstCarousel .carousel-inner .item .second-slide {
        background: url("../img/bckg/home_carousel_img2.jpg"); }
      #firstCarousel .carousel-inner .item .third-slide {
        background: url("../img/bckg/home_carousel_img3.jpg"); }
    #firstCarousel .carousel-inner .container {
      /* Since positioning the image, we need to help out the caption */ }
      #firstCarousel .carousel-inner .container .carousel-caption {
        z-index: 10; }

/*# sourceMappingURL=main.css.map */
