
/*============== HEADER ======================
============================================*/
header {
  .header_upheader {
    background-color: #363636;
    text-align: right;
    height: 50px;
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    p {
      color: #696969;
      font-family: "Gotham-Bold";
      font-size: 0.8571em;
      display: inline-block;
    }
    form {
      display: inline-block;
      width: 30%;
      input {
        width: 70%;
        display: inline-block;
        background: transparent;
        border: 2px solid #696969;
        border-radius: 0px;
        font-family: "Gotham-Book";
        font-size: 0.8571em;
        margin-right: 10px;
        color: #389fbd;       
      }
      input:focus {
        outline: none;
      }
      input::-webkit-input-placeholder {
        color: #696969;
      }

      input:-moz-placeholder { /* Firefox 18- */
        color: #696969;
      }

      input::-moz-placeholder {  /* Firefox 19+ */
        color: #696969;
      }

      input:-ms-input-placeholder {  
        color: #696969; 
      }
      button {
        color: #389fbd;
        border: 2px solid #389fbd;
        background: transparent;
        border-radius: 20px;
        padding: 4px 15px;
      }
      button:hover {
        color: #fff;
        border: 2px solid #389fbd;
        background: #389fbd;
        border-radius: 20px;
        padding: 4px 15px;
      }
      button:focus {
        outline: none;
      }
    }
    form:focus {
      outline: none;
    }
  }
  nav.navbar {
    height: 120px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    z-index: 10;
    margin-top: 50px;
    .container {
      .navbar-header {
        .navbar-brand {
          img {
            margin-top: 20px;
          }
        }
      }
      .collapse {
        ul.nav {
          margin-top: 34px;
          li {
            a {
              font-family: "Gotham-Bold";
              font-size: 0.9285em;
              color: #787878;
              .header_navbar_searchIcon {
                background: url("../img/icn/header_nav_searchIcon.png");
                background-size: 100%;
                height: 13px;
                width: 13px;
                display: inline-block;
                opacity: 0.6;
              }
              .header_navbar_calendarIcon {
                background: url("../img/icn/header_nav_calendarIcon.png");
                background-size: 100%;
                height: 32px;
                width: 28px;
                display: inline-block;
                opacity: 0.6;
              }
              .header_navbar_searchIcon:hover,
              .header_navbar_calendarIcon:hover {
                opacity: 1;
              }
            }
            a:hover {
              color: #ad45c7;
              background: transparent;
            }
          }
          li:last-child {
            a {
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}
/* /======= END HEADER */

/*=========== VERTICAL SOCIAL NETWORKS =============
==================================================*/
.counterSocialNet {
  position: absolute;
  z-index: 10;
  top: 170px;
  right: 0;
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      width: 48px;
      height: 48px;
      text-align: center;
      p {
        margin-bottom: 0;
        color: #fff;
      }
      img {
        margin-top: 5px;
        height: 16px;
        width: 18px;
      }
    }
    li.counterSocialNet_facebook {
      background-color: #3b5998;
    }
    li.counterSocialNet_twitter {
      background-color: #1daced;
    }
    li.counterSocialNet_pinterest {
      background-color: #cb1f27;
    }
    li.counterSocialNet_google {
      background-color: #dd4b39;
    }
    li.counterSocialNet_xxx {
      background-color: #e84c2f;
    }
  }
}
/* /======= END VERTICAL SOCIAL NETWORKS */

/*=============== BUTTONS STYLES ==========
=========================================*/
.transparentButton {
  background-color: rgba(255,255,255,0.5);
  color: #ad45c7;
  font-size: 1em;
  font-family: "Gotham-Book";
  border: 2px solid #ad45c7;
  padding: 15px 30px;
  border-radius: 30px;
}
.transparentButton:hover,
.transparentButton:focus,
.transparentButton:active {
  background-color: #ad45c7;
  color: #fff;
  border: 2px solid #ad45c7;
  outline: none;
}

.pinkButton {
  color: #fff;
  font-size: 1em;
  font-family: "Gotham-Book";
  background-color: #ad45c7;
  border: 2px solid #ad45c7;
  padding: 15px 30px;
  border-radius: 30px;
}

.pinkButton:hover,
.pinkButton:focus,
.pinkButton:active {
  color: #ad45c7;
  background-color: rgba(255,255,255,0.5);
  border: 2px solid #ad45c7;
  outline: none;
}
/* /======= END BUTTONS STYLES */

/*============ COLORS FOR ROLLBOARD BEST SELLER ===========
=========================================================*/
.redboard { background-color: #a30001;}
.blueboard { background-color: #1f66ae;}
.yellowboard { background-color: #ffc000;}
.blackboard { background-color: #000;}
.whiteboard { background-color: #e4e4e4; }



/*============== HOMEPAGE STYLES ======================================
=====================================================================*/
#home {
  /*================= SECTION CAROUSEL ================================*/
  .home_carousel {
    /*============= CUSTOMIZE THE FIRST HOMEPAGE CAROUSEL ============ */
    #firstCarousel {
      max-height: 672px;
      height: 93vh;
      margin-top: -120px;
      width: 100%;
      .carousel-indicators {
        li {
          height: 15px;
          width: 15px;
        }
      }
      .carousel-inner {
        /* Declare heights because of positioning of img element */
        .item {
          height: 672px;
          background-color: transparent;
          width: 100%;
          div {
            background-size: cover;
            max-height: 672px;
            height: 93vh;
            width: 100%;
          }
          .first-slide {
            background: url("../img/bckg/home_carousel_img1a.jpg") no-repeat;
          }
          .second-slide {
            background: url("../img/bckg/home_carousel_img2a.jpg") no-repeat;
          }
          .third-slide {
            background: url("../img/bckg/home_carousel_img3a.jpg") no-repeat;
          }
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
          z-index: 10;
          bottom: 19%;
          text-align: right;
          margin-right: -11vw;
          h1 {
            text-align: right;
            font-family: "ITC_Avant-Bold";
            margin: 0;
            font-size: 3.5714em;
            margin: -5px 0;
          }
          h1:nth-child(4) {
            margin-bottom: 15px;
          }
        }
      }
      .carousel-control {
        max-height: 672px;
        height: 93vh;
        width: 3%;
        .glyphicon-chevron-left,
        .glyphicon-chevron-right {
          top: 68%;
        }
      }
    }
  }
  .home_bestseller {
    text-align: center;
    padding-top: 15px;
    height: 100vh;
    max-height: 689px;;
    .container-fluid {
      h2 {
        font-family: "ITC_Avant_Bold";
        color: #000;
        font-size: 2.7857em;
        margin-bottom: 45px;
      }
      #secondCarousel {
        .carousel-inner {
          text-align: center;
          .item {
            div {
              background-color: #fff;
              .container {
                padding-left: 120px;
                .row {
                  div {
                    text-align: left;
                    h3 {
                      font-family: "Gotham-Bold";
                      color: #000;
                      font-size: 1.7857em;
                    }
                    p:nth-child(3) {
                      color: #2b949a;
                      span {
                        background: url("../img/icn/home_bestseller_freeshippingIcon.png") no-repeat;
                        background-size: 100%;
                        width: 25px;
                        height: 24px;
                        display: inline-block;
                        margin-bottom: -5px;
                        margin-right: 10px;
                      }
                    }
                    .home_bestseller_secondCarousel_color {
                      p {
                        font-family: "Gotham-Bold";
                        color: #000;
                        font-size: 1.0714em;
                        margin-right: 10px;
                        display: inline-block;
                        margin-top: 0px;
                      }
                      span {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                        margin-bottom: -10px;
                        a {
                          width: 30px;
                          height: 30px;
                          display:inline-block;
                          margin-bottom: -10px;
                        }
                      }
                    }
                    .home_bestseller_secondCarousel_price {
                      p {
                        color: #414141;
                        font-family: "Bebas-Neue";
                        font-size: 3.9285em;
                        display: inline-block;
                        margin-right: 10px;
                      }
                      p:last-child {
                        color: #414141;
                        font-family: "Bebas-Neue";
                        font-size: 1.5714em;
                        text-decoration: line-through;
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .carousel-control {
          span:first-child {
            color: #e25a95;
            opacity: 0.8;
          }
        }
        .home_bestseller_secondCarousel_right {
          right: 0;
          left: auto;
        }
      }
      a.home_bestseller_buttonSeemore {
        margin-top: 55px;
      }
    }
  }
  .home_features {
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 667px;;
    padding-top: 20px;
    h2 {
      text-align: center;
      color: #fff;
      font-family: "ITC_Avant_Bold";
      font-size: 2.7857em;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 15px;
      margin-bottom: 50px;
    }
    .container {
      .row {
        margin-bottom: 2%;
        display: flex;
        align-items: center;
        div {
          text-align: center;
          span {
            background:url("../img/icn/home_features_Icons.png");
            display: inline-block;
          }
          .home_features_icon1 { background-position: 0px -408px; width: 123px; height: 126px;}
          .home_features_icon2 { background-position: 0px -266px; width: 109px; height: 132px;}
          .home_features_icon3 { background-position: 0px -760px; width: 92px; height: 99px;}
          .home_features_icon4 { background-position: 0px 0px; width: 168px; height: 126px;}
          .home_features_icon5 { background-position: 0px -869px; width: 144px; height: 144px;}
          .home_features_icon6 { background-position: 0px -1023px; width: 152px; height: 91px;}
          .home_features_icon7 { background-position: 0px -136px; width: 120px; height: 120px;}
          .home_features_icon8 { background-position: 0px -544px; width: 206px; height: 206px;}
          h4 {
            color: #fff;
            font-family: "Open Sans Semibold";
            font-size: 1.2857em;
            padding: 0 2vw;
          }
        }
      }
    }
  }
  .home_celebrities {
    padding-top: 20px; 
    h2 {
      color: #000;
      font-family: "ITC_Avant_Bold";
      font-size: 2.7857em;
      text-align: center;
    }
  }
}
    




